{%- for file_name in options.component_file_list %}
    <script src={{ url_for(options.static_name, path=file_name) }}></script>
{%- endfor %}
    {%- if context_obj %}
    {{ context_obj.as_html_lines() | safe }}
    {% endif %}
    {%- for event in page_options.events %}
        document.addEventListener('{{ event }}', function (evt) {
            console.log(evt);
            const e = {
                'event_type': '{{ event }}',
                'visibility': document.visibilityState,
                'page_id': page_id,
                'websocket_id': websocket_id
            };
            if (evt instanceof KeyboardEvent) {
        // https://developer.mozilla.org/en-US/docs/Web/Events/keydown   keyup, keypress
        e['key_data'] = {
            altKey: evt.altKey,
            ctrlKey: evt.ctrlKey,
            shiftKey: evt.shiftKey,
            metaKey: evt.metaKey,
            code: evt.code,
            key: evt.key,
            location: evt.location,
            repeat: evt.repeat,
            locale: evt.locale
        }
    }
            send_to_server(e, 'page_event', false);
        });
    {%- endfor %}
    </script>